.Home{
    background-color:  #8CBDB9;
    height: 89vmin;
    
}
.Home-MainTitle{
        height: 15vmin;
        background-color: #8CBDB9;
        font-size: calc(20px + 5vmin);
        color: #2D3E4E;
        margin-left: 50px;
}

.Home-header{
    background-color: #8CBDB9;
    align-items: left;
    justify-content: left;
    font-size: calc(2px + 2vmin);
    color: #2D3E4E;
    margin-left: 50px;
    max-width: 500px;
    height: 8vmin;
  }
.Home-picture{
  height: 54vmin;
  position: absolute;
  right: 0%;
  background-color: #8CBDB9;
  
}

.Home-Rounds{
    
    width: '100%';
    max-Width: 360px;
    background-Color:  #bfe6e2;
    margin-left: 50px;
}