.Register {
  background-color: #B5D4E1;
  margin-top: 8px;
  height: 135vh;
}

.Register form {
  margin-left: 50px;
  max-width: 100px;
  height: 80vmin;
  padding-top: 10px;
}

.Register-MainTitle {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  color: #2d3e4e;
  font: "oxygen";
  margin-left: 50px;
  margin-bottom: 5px;
  max-width: 500px;
}

.Register-email {
  margin-left: 50px;
  max-width: 100px;
  height: 10vmin;
  padding-top: 5px;
  color: #2d3e4e;
  font-size: calc(1px + 1vmin);
}

.Textfield {
  background-color: #B5D4E1;
  border: 2px solid #2d3e4e;
  padding: 5px 5px;
  width: 500px;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Register-password {
  margin-left: 50px;
  max-width: 300px;
  height: 10vmin;
  padding-top: 5px;
  color: #2d3e4e;
  font-size: calc(1px + 1vmin);
}

.Register-passwordCheck {
  margin-left: 50px;
  max-width: 300px;
  height: 10vmin;
  padding-top: 5px;
  color: #2d3e4e;
  font-size: calc(1px + 1vmin);
}

.Register-userType {
  margin-left: 0px;
  max-width: 100px;
  height: 10vmin;
  padding-top: 5px;
  color: #2d3e4e;
  font-size: calc(1px + 1vmin);
}

.Register-Alert {
  font-size: calc(1px + 1vmin);
}

.Image {
  height: auto;
  position: absolute;
  right: 1%;
  margin-bottom: 5%;
}

.Alert{
  
  float: right;
  text-align: right;
}
