


.Register {
    text-align: left;
}

.Register form{
    margin-left: 50px ;
<<<<<<< HEAD
    max-width: 100px;
    height: 90vmin;
    padding-top: 10px;
}

.Register-MainTitle{
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(2px + 2vmin);
    color: #2D3E4E;
    font: 'oxygen';
    margin-left: 50px;
    margin-bottom: 30px;
    max-width: 500px;
=======
        max-width: 100px;
        background-color: #8CBDB9;
        height: 127vmin;
        text-align: left;
        padding-top: 10px;
        
}

.Register-MainTitle{
    background-color: #8CBDB9;
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        font-size: calc(2px + 2vmin);
        color: #2D3E4E;
        margin-left: 50px;
        max-width: 500px;
>>>>>>> 1e874dff5b8afe755bf9d4d24d7aee895be28899
}

.Register-email{
    margin-left: 50px ;
    max-width: 100px;
    height: 10vmin;
    padding-top: 10px;
    color: #2D3E4E;
    font-size: calc(1px + 1vmin);
}

.Textfield {
    background-color: #E8ECEB;
    border: 2px solid #2D3E4E;
    padding: 5px 5px;
    width: 500px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Register-password{
    margin-left: 50px ;
    max-width: 300px;
    height: 10vmin;
    padding-top: 10px;
    color: #2D3E4E;
    font-size: calc(1px + 1vmin);
    
}

.Register-passwordCheck{
    margin-left: 50px ;
    max-width: 300px;
    height: 10vmin;
    padding-top: 10px;
    color: #2D3E4E;
    font-size: calc(1px + 1vmin);
    
}

.Register-userType{
    margin-left: 0px ;
    max-width: 100px;
    height: 10vmin;
    padding-top: 10px;
    color: #2D3E4E;
    font-size: calc(1px + 1vmin);
    
}

.Register-Alert{
    font-size: calc(1px + 1vmin);
}

.Image{
    height: auto;
    position: absolute;
    right: 1%;
    margin-bottom: 5%;
  }