
 .Login {
    background-color: #2980B9;
  }
  
 .Login-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(2px + 2vmin);
    color: #2D3E4E;
    font: 'oxygen';
    padding-left: 5px;
    margin-left: 50px;
    max-width: 500px;
  }

  .Login form {
    margin-left: 50px ;
    max-width: 100px;
    height: 30vmin;
    text-align: left;     
  }

  .Login-picture{
    height: auto;
    position: absolute;
    right: 1%;
    /*bottom: 1%;*/
  }
  .MainTitle {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font: 'oxygen';
    font-size: calc(20px + 5vmin);
    color: #2D3E4E;
    margin-left: 50px;
  }

  .Label{
    color: #2D3E4E;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .Textfield{
    background-color: #E8ECEB;
    border: none;
    padding: 5px 5px;
    width: 300px;
    color: #2D3E4E;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
  } 