

    .Login {
      
      background-color: #8CBDB9;
      text-align: left;
      
     
    }
  
    .Login form {
        margin-left: 50px ;
        max-width: 100px;
        background-color: #8CBDB9;
        height: 30vmin;
        text-align: left;
        
         
      }
   
  
   .Login-header {
        background-color: #8CBDB9;

        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        font-size: calc(2px + 2vmin);
        color: #2D3E4E;
        font: 'oxygen';
        margin-left: 50px;
        max-width: 500px;
      }
    .Login-picture{
      height: 45vmin;
      position: absolute;
      right: 0%;
      background-color: #8CBDB9;
      
    }
    .Login-MainTitle {
        max-width: 600px;
        background-color: #8CBDB9;
        min-height: 25vh;
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        font-size: calc(20px + 5vmin);
        color: #2D3E4E;
        margin-left: 50px;
      }